

/* le_delice_des_sens */

body{
    margin: 0 ;
    padding: 0;
    font-size: 1.5rem;
    background-color: whitesmoke;
    
}
.headerMenu
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerMenu__arrow 
{
    margin-left: -3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    color: black;
}
.header__title
{
    text-align: center;
    font-family: "Shrikhand";
    font-weight: 900;
    font-style: normal; 
}
.menuImg__img 
{
    width: 100%;
}
img 
{
    object-fit: cover;
}
.menu
{
    background-color: #F6F6F6;
    border-radius: 35px 35px 0 0;
    padding: 1rem;
    position: relative;
    margin-top: -3rem;
}
.menu .menu__header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__header__title
{
    font-family: "Shrikhand";
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 2rem;
    margin-left: 2rem;
}
.hearts
{
    position: relative;
    font-size: 35px;
    margin-bottom: 1rem;
}
.empty, .full
{
    position: absolute;
    right: 10px;
    
}
.full 
{
    opacity: 0;
}
.full:hover
{
    opacity: 1;
    transition-duration: 2s;
    background: -webkit-linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content
{
    border-top-left-radius: 50px;
}
.title
{
    width: max-content;
    margin-left: 20px;
    font-weight: 100;
    font-family: "Roboto";
}
.entree_choice
{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: popup 800ms 3500ms linear both;
}
.plats_choice 
{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desserts_choice
{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name
{
    width: max-content;
    margin-left: 0px;
    font-weight: 100;
    margin-bottom: 2px;
    margin-top: 0px;
}
.upper
{
    text-transform: uppercase;
    font-weight: 100;
}
.entrees > .title > .underline
{
    margin-top: 2px;
}
.underline
{
    height: 3px;
    background-color: #99E2D0;
    width: 45px;
    margin-left: 0px;
}
.choix 
{
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(186 182 182);
    overflow: hidden;
    white-space: nowrap;
    animation-timing-function: ease;
    animation-fill-mode: both;
    transform: scale(0);
    animation-duration: .1s;
    animation-name: popup;
    animation: opacity 2000ms 3500ms linear both;
}
@keyframes popup
{
0%
{
    transform: scale(0);
    
}
100%
{
    transform: scale(1);
    
}
}

.desc
{
    width: 100%;
    overflow-x: auto;
    transform-origin: left; 
}
.dish 
{
    margin-bottom: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: "Roboto";
}
.line2
{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: auto;
}
.compo
{
    margin-top: 5px;
    font-weight: 100;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: "Roboto";
}
.price
{
    margin-top: 5px;  
}
.price
{
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
}

.check:hover
{
    position: relative;
    background-color: #99e2d0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin-right: -110px;
    transition-duration: 5s;   
}
.fa-check-circle
{
    position: relative;
    font-size: 30px;
    color: white;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-top: 10px;
}

  .choix 
  {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgb(186 182 182);
    overflow: hidden;
    white-space: nowrap;
    animation-timing-function: ease;
    animation-fill-mode: both;
    transform: scale(0);
    animation-duration: .6s;
    animation-name: popup;
  }
  @keyframes popup{ 
    0%{
      transform: scale(0);
    }
    100%
    {
      transform: scale(1);
    }
  }
  .desc
  {
    width: 30rem;
    overflow-x: auto;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
  }
  .dish
  {
    margin-bottom: 0px;
    white-space: nowrap;
    overflow-x: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'Roboto';
  }
  .line2
  {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: auto;
    
  }
  .compo 
  {
    margin-top: 5px;
    font-weight: 100;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Roboto';
    font-size: 15px;
  }
  .price
  {
    margin-top: 5px;
    

  }
  .price 
  {
    padding-left: 30px;
    font-weight: bold;
    font-size: 15px;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    
  }
  .check
  {
    position: relative;
    background-color: #99e2d0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin-right: -120px;
    transition-duration: .3s;
    white-space: nowrap;
    font-family: 'Roboto';
    
   
    
  }

.choix:hover .check {
    margin-right: -16px;   
}
.choix:hover .fa-check-cercle {
    animation-name: rotation;
    animation-duration: .5s;
    animation-timing-function: ease;
}


  .fa-check-circle
  {
    position: relative;
    font-size: 30px;
    color: white;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    margin-top: 2px;
   
}
.choix:hover .fa-check-circle {
    animation-name: rotation;
    animation-duration: .5s;
    animation-timing-function: ease;
}

@keyframes rotation {
    0% {
        transform: rotate(180deg); 
    }

    100% {
        transform: rotate(0deg);
    }
}

.menu__command
{
    display: flex;
    justify-content: center;
    margin: 3rem;
}
.menu__command__button
{
    width: 11rem;
    
}
.btn:hover{
    opacity: 0.8;
    box-shadow: 2px 1px 10px 5px #888888;
}
.btn 
{
    
    color: white;
    font-weight: bold;
    padding: 1.2rem;
    width: 15rem;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0.2rem 0.6rem 0.5rem 0 rgb(92 90 90 / 10%);
    background: linear-gradient(to top, #9356DC, #FF79DA);
    background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
.footer 
{
    background-color: #353535;
    color: white;
    padding: 1.5rem;
}
.footer__h4
{
    font-family: "Shrikhand";
    font-size: 1.4rem;
    font-weight: normal;
}
.footer.footer a
{
    text-decoration: none;
    color: white;
}
.footer p
{
    font-family: "Roboto";
    font-size: 1rem;
}
.footer .fa-utensils
{
    padding-right: 1rem;
}
.footer.footer a 
{
    text-decoration: none;
    color: white;
}
.footer p
{
    font-family: "Roboto";
    font-size: 1rem;
}
.footer .fa-hands-helping
{
    padding-right: 0.5rem;
}
.footer.footer a
{
    text-decoration: none;
    color: white;
}
.footer p
{
    font-family: "Roboto";
    font-size: 1rem;
}
.footer.footer a
{
    text-decoration: none;
    color: white;
}
.footer p 
{
    font-family: "Roboto";
    font-size: 1rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 601px)  and (max-width: 767px){

    .menuImg__img
    {
        max-height: 400px;
        width: 100%;
    }
    .content
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .entrees,
    .plats,
    .desserts 
    {
        width: 45%;
        padding-top: 1.5rem;
        display: flex;
        flex-wrap: wrap;
    }
    
    .footer
    {
        text-align: center;
    }
    
} 


/* Small devices (portrait tablets and large phones, 769px and up) */
@media (min-width: 768px) and (max-width: 1024px){

    .menuImg__img
    {
        max-height: 400px;
    }
    .content
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .entrees,
    .plats,
    .desserts
    {
        width: 45%;
        padding-top: 1.5rem;
    }
    
    .footer
    {
        text-align: center;
    }

} 


/* Small devices (portrait tablets and large phones, 1200px and up) */
@media (min-width: 1224px) {

    .menuImg__img
    {
        max-height: 400px;
        width: 100%;
    }
    .content
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .entrees,
    .plats,
    .desserts
    {
        width: 30%;
        padding-top: 1.5rem;
    }
    
    .footer
    {
        text-align: center;
    }

}

