

/* le_delice_des_sens */

body{
    margin: 0 auto;
    font-size: 1.5rem;
    background-color: whitesmoke;
}
header img 
{
    padding: 0rem;
    margin-left: 5rem;
    margin-top: -4rem;
    width: 50%;
    display: flex;
    text-align: center;
    align-content: center;
    border-bottom: 1px solid black;
}

header i 
{
    position: absolute;left: 1em;top: 2em;
    font-size: 25px;
}
img 
{
    max-width: 100%;
    height: 250px;
    border-radius: 0px 0px -50px -50px;
    margin-top: -6rem;
    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 0;
    

}
.le_delice_des_sens
.A_la_française 
.la_note_enchantee  
.la_palette_du_Gout
{
    display: grid;
    justify-content: right;
    
}
.entree_1 b, .entree_2 b, .entree_4 b
{
    margin-left: 16em;
    margin-top: -1em;
    font-size: large;
}
.entree_3 b
{
    margin-left: 12em;
    margin-top: -1em;
    font-size: large;
}
.entree_3 i 
{
    margin-top: -1.7em;
    margin-left: 7.0em;
    font-size: 40px;
    display: flex;
    align-items: center;
    color: white;
    background-color: aquamarine;
    border-radius: 0px 20px 20px 0px;
    width: 17%;
    height: 85px;
    display: grid;
    
}
.entree_1 h2, .entree_2 h2, .entree_3 h2, .entree_4 h2
{
    margin-left: 28px;
    margin: 15px;
    font-size: large;

}
.entree_1 h3, .entree_2 h3, .entree_3 h3, .entree_4 h3  
{
    margin-left: 25px;
    margin: 15px;
    font-size: medium;
}
.entree_1 
{
    background-color: white;
    margin: 15px;
    margin-left: 1em;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    line-height: 5px;
    height: 85px;
    max-width: 100%;
    display: grid;
}
.entree_2
{
    background-color: white;
    margin: 15px;
    margin-left: 1em;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    line-height: 5px;
    height: 85px;
    max-width: 100%;
    display: grid;
    
}
.entree_3   
{
    background-color: white;
    margin: 15px;
    margin-left: 1em;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    line-height: 5px;
    height: 85px;
    max-width: 100%;
    display: grid;
    
}
.entree_4   
{
    background-color: white;
    margin: 15px;
    margin-left: 1em;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    line-height: 5px;
    height: 85px;
    max-width: 100%;
    display: grid;
    
}
.plats_1 h2,.plats_2 h2,.plats_3 h2
{
    margin-left: 30px;
    margin: 15px;
    font-size: large;
}
.plats_1 h3,.plats_2 h3,.plats_3 h3
{
    margin-left: 30px;
    margin: 15px;
    font-size: medium;
}
.plats_1 b,.plats_2 b,.plats_3 b 
{
    margin-left: 16em;
    margin-top: -1em;
    font-size: large;
    
} 
.desserts_1 b, .desserts_2 b, .desserts_3 b 
{
    margin-left: 16em;
    margin-top: -1em;
    font-size: large;
}
.plats_1 
{
    background-color: white;
    margin: 15px;
    margin-left: 1em;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    line-height: 5px;
    height: 85px;
    max-width: 100%;
    display: grid;

}
.plats_2 
{
    background-color: white;
    margin: 15px;
    margin-left: 1em;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    line-height: 5px;
    height: 85px;
    max-width: 100%;
    display: grid;

}
.plats_3 
{
    background-color: white;
    margin: 15px;
    margin-left: 1em;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    line-height: 5px;
    height: 85px;
    max-width: 100%;
    display: grid;

}
.desserts_1 h2, .desserts_2 h2, .desserts_3 h2
{
    margin-left: 28px;
    margin: 15px;
    font-size: large;
}
.desserts_1 h3, .desserts_2 h3, .desserts_3 h3
{
    margin-left: 28px;
    margin: 15px;
    font-size: medium;
}
.desserts_1  
{
    background-color: white;
    margin: 15px;
    margin-left: 1em;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    line-height: 5px;
    height: 85px;
    max-width: 100%;
    display: grid;
}
.desserts_2
{
    background-color: white;
    margin: 15px;
    margin-left: 1em;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    line-height: 5px;
    height: 85px;
    max-width: 100%;
    display: grid;
}
.desserts_3 
{
    background-color: white;
    margin: 15px;
    margin-left: 1em;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    line-height: 5px;
    height: 85px;
    max-width: 100%;
    display: grid;
}
.le_delice_des_sens h1,
.A_la_française h1,
.la_note_enchantee h1,
.la_palette_du_Gout h1
{
    display: grid;
    font-size: 30px;
    margin-left: 30px;
    max-width: 100%;
}
a, a:hover, a:visited, a:active
{
    
    text-decoration: none;
}
.le_delice_des_sens h4,
.A_la_française h4, 
.la_note_enchantee h4,
.la_palette_du_Gout h4
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
    margin-left: 6rem;
    line-height: 50px;
    border-radius: 50px;
    font-size: 20px;
    height: 60px;
    max-width: 50%;
    
}
.symbol:hover 
{
    background-color: violet;
}
.le_delice_des_sens .symbol,
.A_la_française .symbol,
.la_note_enchantee .symbol,
.la_palette_du_Gout .symbol
{
    margin-left: 13em;
    position: relative;top: -3.4rem;
}
.le_delice_des_sens p,
.A_la_française p,
.la_note_enchantee p, 
.la_palette_du_Gout p 
{
    margin-left: 30px;
    font-size: 20px;
}

footer p 
{
    margin-left: 2rem;
    margin-top: -0.5rem;
}
footer i  
{
    margin-left: 2rem;
    
}
footer h3
{
    margin-left: 2rem;
}
footer h5
{
    margin-left: 5rem;
    margin-top: -1.5rem;
}
footer
{
    display: flex;
    flex-direction: column;
    white-space: pre;
    color: white;
    background-color: rgba(20, 19, 2, 0.788);
    max-width: 100%;
    height: auto;
    
}