img{
    max-width: 100%;
    
}
body{
    margin: 0 auto;
    font-size: 1.5rem;
    background-color: whitesmoke;
}
.logo{
    text-align: center;
    border-bottom: 1px solid black;
}
.logo img {
    padding: 2rem;
    width: 50%;

}
.search_map i  
{
    font-size: 1.5em;
    position:absolute;left: 14rem;

}
.fa-heart_1:hover
{
    color: #FF79DA ;
    
}
.fa-heart_2:hover
{
    color: #FF79DA;
}
.fa-heart_3:hover
{
    color: #FF79DA;
}
.fa-heart_4:hover
{
    color: #FF79DA;
}
.fa-heart_1 
{
    margin-left: 50rem;
    font-size: 3rem;
    position: relative;
    top: -9rem;
    
}
.fa-heart_2
{
    margin-left: 50rem;
    font-size: 3rem;
    position: relative;
    top: -9rem;
}
.fa-heart_3
{
    margin-left: 50rem;
    font-size: 3rem;
    position: relative;
    top: -9rem;
}
.fa-heart_4
{
    margin-left: 50rem;
    font-size: 3rem;
    position: relative;
    top: -9rem;
}
.search_map{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
   
}
.presentation{
    background-color: rgb(226, 225, 225);
    padding: 5rem;
    text-align: center;
}
#restaurant h2
{
    margin-left: 2rem;
}
.presentation h2
{
    
    display: flex;
    margin-left: 11rem;
    justify-content: center;
    font-size: 40px;
    border-radius: 80px;
    line-height: 4em;
    color: white;
    
    height: 150px;
    max-width: 60%;


    background: radial-gradient(ellipse farthest-corner at top left,
     #FF79DA, #9356DC);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0.2rem 0.6rem 0.5rem 0 rgb(92 90 90 / 10%);
   
}
a, a:hover, a:visited, a:active
{
    text-decoration: none;
    color: black;
}
#functioning{
    padding: 2rem;
}
#functioning h2
{
    margin-left: 2rem;
}
.restaurant_Belleville
{
    background-color: white;
    border-radius: 0px 0px 30px 30px;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
    margin: 25px;


    box-shadow: 1px 1px 10px #afaeae;
    font-family: "Roboto", sans-serif;
}
.restaurant_Belleville h3
{
    margin-left: 2rem;
    padding-bottom: 0rem;
}
.restaurant_Belleville h4
{
    margin-left: 2rem;
    padding-bottom: 3rem;

    
}
.new_1 
{
    position: relative;
    left: 30em;top: -35rem;
    color: #2c9c81;
    
    
    background-color: #99e2d0;
    font-weight: bold;
    
}
.new_2
{
    position: relative;
    left: 30em;top: -70rem;
    color: #2c9c81;
    

    
    background-color: #99e2d0;
    font-weight: bold;
}
.cardFunction p 
{
    margin-left: -10rem;
}
.cardFunction{
    position: relative;
    background-color: lightgray;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 3rem;
    margin-left: 2rem;
    width: 88%;
}
.cardFunction:hover{
    background-color: rgb(218, 199, 218);
}
.cardNumber {
    position: absolute;
    left: -20px;
    background-color: #9356DC;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color: white;
    text-align: center;
}

footer p 
{
    margin-left: 2rem;
    margin-top: 1.5rem;
    color: white;
}
footer i  
{
    margin-left: 2rem;
    margin-top: 2rem;
    color: white;
}
footer h3 
{
    margin-left: 2rem;
    font-size: 3rem;
    
    color: white;
}
footer h5
{
    margin-left: 6rem;
    margin-top: -1.6rem;
    color: white;
}
footer
{
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    color: white;
    background-color: rgba(20, 19, 2, 0.788);
    max-width: 100%;
    height: auto;
    
}

/* Small devices (portrait tablets and large phones, 1200px and up) */
@media (min-width: 1024px) and (max-width: 1440px) 
{
DD  
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    position: absolute;
    max-width: 40%;
    object-fit: cover;
}
.restaurant img 
{
    display: flex;
    
    justify-content: space-around;

    position: absolute;
    max-width: 40%;
    
    
}
footert 
{
    display: flex;
    flex-wrap: row;
    justify-content: space-around;
}



}