
header
{
    background-color: greenyellow;
    font-size: large; 
}
header i 
{
    position: relative;right: 8em;top: 1em;
    font-size: 25px;
}
header img  
{
    font-size: 20px;
}
.img 
{
    width: 200px;
    height: 440px;
    border-radius: 20px 20px 0px 0px;
    position: relative;bottom: 5em;left: 40em;
    display: flex;
    margin: 0;
    padding: 0;
}
.entree_1 b 
{
    position: relative;left: 28em;bottom: 3.6em;
}
.entree_2 b 
{
    position: relative;left: 28em;bottom: 3.6em;
}
.entree_3 b 
{
    position: relative;left: 22em;bottom: 3.6em;
    
}
.entree_3 i 
{
    position: relative;bottom: 3.3em;left: 10.5em;
    font-size: 40px;
    display: flex;
    align-items: center;
    color: white;
    background-color: aquamarine;
    border-radius: 0px 20px 20px 0px;
    margin-top: 20px;
    width: 80px;
    height: 80px;
}
.entree_1 h2, .entree_2 h2, .entree_3 h2
{
    margin-left: 30px;
    margin: 15px;
}
.entree_1 h3, .entree_2 h3, .entree_3 h3  
{
    margin-left: 30px;
    margin: 15px;
}
.entree_1 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 500px;
}
.entree_2
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 500px;
}
.entree_3   
{
    background-color: white;
    margin: 15px;
    
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 500px;
}
.plats_1 h2,.plats_2 h2,.plats_3 h2
{
    margin-left: 30px;
    margin: 15px;
}
.plats_1 h3,.plats_2 h3,.plats_3 h3
{
    margin-left: 30px;
    margin: 15px;
}
.plats_1 b,.plats_2 b,.plats_3 b 
{
    position: relative;left: 28em;bottom: 3.6em;
} 
.plats_1 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 500px;
}
.plats_2 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 500px;
}
.plats_3 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 500px;
}
.desserts_1 b, .desserts_2 b, .desserts_3 b  
{
    position: relative;left: 28em;bottom: 3.6em;
}
.desserts_1 h2, .desserts_2 h2, .desserts_3 h2
{
    margin-left: 30px;
    margin: 15px;
}
.desserts_1 h3, .desserts_2 h3, .desserts_3 h3
{
    margin-left: 30px;
    margin: 15px;
}
.desserts_1  
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 500px;
}
.desserts_2
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 500px;
}
.desserts_3 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 500px;
}
.A_la_française h1
{
    display: grid;
    justify-content: center;
    font-size: 40px;
}
.A_la_française h4 
{
    display: grid;
    justify-content: center;
    background-color: violet;
    position: relative;left: 6em;
    line-height: 50px;
    border-radius: 50px;
    font-size: 20px;
    height: 60px;
    width: 250px;
}
.A_la_française,.symbol
{
    margin-left: 20px;
}
.A_la_française 
{
    display: grid;
    justify-content: center;

}
footer
{
    position: relative;left: 35em;
}