img{
    max-width: 100%;
    
}
body{
    margin: 0 auto;
    font-size: 1.5rem;
    background-color: whitesmoke;
}
.logo{
    text-align: center;
    border-bottom: 1px solid black;
}
.logo img {
    padding: 2rem;
    width: 50%;
}
.search_map i  
{
    font-size: 1.5em;
    position:absolute;left: 14rem;

}
.fa-heart_1:hover
{
    color: violet;
    
}
.fa-heart_2:hover
{
    color: violet;
}
.fa-heart_3:hover
{
    color: violet;
}
.fa-heart_4:hover
{
    color: violet;
}
.fa-heart_1 
{
    margin-left: 50rem;
    font-size: 3rem;
    position: relative;
    top: -9rem;
    
}
.fa-heart_2
{
    margin-left: 50rem;
    font-size: 3rem;
    position: relative;
    top: -9rem;
}
.fa-heart_3
{
    margin-left: 50rem;
    font-size: 3rem;
    position: relative;
    top: -9rem;
}
.fa-heart_4
{
    margin-left: 50rem;
    font-size: 3rem;
    position: relative;
    top: -9rem;
}
.search_map{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
   
}
.presentation{
    background-color: rgb(226, 225, 225);
    padding: 5rem;
    text-align: center;
}
#restaurant h2
{
    margin-left: 2rem;
}
.presentation h2
{
    background-color: rgba(196, 88, 196, 0.712);
    display: flex;
    margin-left: 11rem;
    justify-content: center;
    font-size: 40px;
    border-radius: 80px;
    line-height: 4em;
    color: white;
    
    height: 150px;
    max-width: 60%;
   
}
a, a:hover, a:visited, a:active
{
    text-decoration: none;
    color: black;
}
#functioning{
    padding: 2rem;
}
#functioning h2
{
    margin-left: 2rem;
}
.restaurant_Belleville
{
    background-color: white;
    border-radius: 0px 0px 30px 30px;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
    margin: 25px;
}
.restaurant_Belleville h3
{
    margin-left: 2rem;
    padding-bottom: 0rem;
}
.restaurant_Belleville h4
{
    margin-left: 2rem;
    padding-bottom: 3rem;
}
.new_1 
{
    position: relative;
    left: 30em;top: -35rem;
    color: greenyellow;
    background-color: gainsboro
    
}
.new_2
{
    position: relative;
    left: 30em;top: -70rem;
    color: greenyellow;
    background-color: gainsboro;
}
.cardFunction p 
{
    margin-left: -10rem;
}
.cardFunction{
    position: relative;
    background-color: lightgray;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 3rem;
    margin-left: 2rem;
    width: 88%;
}
.cardFunction:hover{
    background-color: rgb(218, 199, 218);
}
.cardNumber {
    position: absolute;
    left: -20px;
    background-color: rgb(53, 0, 139);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color: white;
    text-align: center;
}

footer p 
{
    margin-left: 2rem;
    margin-top: -0.5rem;
}
footer i  
{
    margin-left: 2rem;
    
}
footer h3 
{
    margin-left: 2rem;
}
footer h5
{
    margin-left: 5rem;
    margin-top: -1.5rem;
}
footer
{
    display: flex;
    flex-direction: column;
    white-space: pre;
    color: white;
    background-color: rgba(20, 19, 2, 0.788);
    max-width: 100%;
    height: auto;
    
}