header
{
    background-color: #c51111b6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 480px;
    margin-left: 34em;
    margin-right: 34em;
    border-radius: 0px;
    position: relative;top: 0em;right: 23em;  
}
header, img  
{
    width: 200px;
    height: 20px;
    
}
footer i 
{
    position: relative;top: 1em;right: 5em;
    font-size: 45px;
    color: aliceblue;
}
.search_map i 
{
    position: relative;top: 1.5em;left: 6em;
    font-size: 25px;
}
input
{
    width: 600px;
    height: 50px;
    background-color: hsla(0, 0%, 96%, 0.521);
    border: none;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
}
header p 
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    
}
header h1
{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 400px;
    margin-left: 80px;
}
header h2
{
    background-color: rgba(196, 88, 196, 0.712);
    text-align: center;
    justify-content: center;
    margin-left: 130px;
    border-radius: 50px;
    line-height: 50px;
    color: white;
    box-shadow: 16px violet;
    height: 60px;
    width: 300px;
}
.Functioning p 
{
    text-align: center;
    justify-content: center;
    margin: 5px;
    border-radius: 50px;
    line-height: 80px;
    background-color: white;
    box-shadow: 16px white;
    height: 80px;
    width: 500px;
    font-size: 20px;
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body
{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    align-items: center;
}
#header_Functioning
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
}
#restaurant
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
}
.restaurant_Belleville img 
{
    width: 100%;
    height: 440px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    margin: 0;
    padding: 0;
}
.restaurant_Belleville h1
{
    margin-left: 15px;
    margin: 25px;
    font-size: 30px;
}
.restaurant_Belleville 
{
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    width: 590px;
    margin: 20px;
    padding: 0;
}
.search_mobile i 
{
    position: relative;bottom: 2.5em;left: 3em;
    font-size: 30px;
}
.search_menu i 
{
    font-size: 30px;
    position: relative;top: 2.5em;left: 3em;
}
.search_restaurant i 
{
    position: relative;top: 2.5em;left: 3em;
    font-size: 30px;
}
.symbol
{
    position: relative;left: 20em;bottom: 3em;
    font-size: 25px;
    border-bottom: none;
}
.restaurant_Belleville p 
{
    margin-left: 15em;
    position: relative;top: 3em;
    font-size: 30px;
    background-color: rgb(192, 212, 198);
    border-radius: 4px;
    text-align: center;
    width: 120px;
    height: 40px;
    color: #14fa0cec;  
}
.restaurant_Belleville h4  
{
    margin-left: 20px;
    justify-content: space-between;
}
.restaurant_Belleville h2 
{
    margin-left: 20px;
    
}
footer h3
{
    margin-left: 30px;
    font-style: oblique;
    font-size: 25px;
}
footer P 
{
    margin-left: 30px;
}
.ohmyfood
{
    display: flex;
    flex-direction: column;
    position: relative;left: 35em;
    color: white;
    margin-right: 70em;
    background-color: rgba(20, 19, 2, 0.788);
    width: 590px;
    height: auto;
}
/* A_la_française */
header
{
    background-color: greenyellow;
    font-size: large; 
}
header
{
    padding: 100px;
}
body
{
    margin: 0;
    padding: 0;
    align-items: center;
}
header i 
{
    position: relative;left: 19em;bottom: 2em;
    font-size: 25px;
}
.logo   
{
    position: relative;bottom: 15em;left: 35em;
    width: 200px;
    height: 20px;
}
.img 
{
    width: 590px;
    height: 440px;
    border-radius: 0px 20px 0px 0px;
    position: relative;bottom: 17em;left: 25em;
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 250px;
}
.entree_1 b 
{
    position: relative;left: 28em;bottom: 3.6em;
}
.entree_2 b 
{
    position: relative;left: 28em;bottom: 3.6em;
}
.entree_3 b 
{
    position: relative;left: 22em;bottom: 3.6em;
    
}
.entree_4 b 
{
    position: relative;left: 22em;bottom: 3.6em;
}
.entree_3 i 
{
    position: relative;bottom: 3.3em;left: 10.5em;
    font-size: 40px;
    display: flex;
    align-items: center;
    color: white;
    background-color: aquamarine;
    border-radius: 0px 20px 20px 0px;
    margin-top: 20px;
    width: 80px;
    height: 80px;
}
.entree_1 h2, .entree_2 h2, .entree_3 h2, .entree_4 h2
{
    margin-left: 30px;
    margin: 15px;
}
.entree_1 h3, .entree_2 h3, .entree_3 h3, .entree_4 h3  
{
    margin-left: 30px;
    margin: 15px;
}
.entree_1 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.entree_2
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.entree_3   
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.plats_1 h2,.plats_2 h2,.plats_3 h2
{
    margin-left: 30px;
    margin: 15px;
}
.plats_1 h3,.plats_2 h3,.plats_3 h3
{
    margin-left: 30px;
    margin: 15px;
}
.plats_1 b,.plats_2 b,.plats_3 b 
{
    position: relative;left: 28em;bottom: 3.6em;
} 
.plats_1 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.plats_2 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.plats_3 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.desserts_1 b, .desserts_2 b, .desserts_3 b  
{
    position: relative;left: 28em;bottom: 3.6em;
}
.desserts_1 h2, .desserts_2 h2, .desserts_3 h2
{
    margin-left: 30px;
    margin: 15px;
}
.desserts_1 h3, .desserts_2 h3, .desserts_3 h3
{
    margin-left: 30px;
    margin: 15px;
}
.desserts_1  
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.desserts_2
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.desserts_3 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.A_la_française h1
{
    display: grid;
    font-size: 40px;
    padding-top: 90px;
    margin-left: 15px;
}
a, a:hover, a:visited, a:active
{
    
    text-decoration: none;
}
.A_la_française h4 
{
    display: grid;
    justify-content: center;
    background-color: violet;
    position: relative;left: 6em;
    line-height: 50px;
    border-radius: 50px;
    font-size: 20px;
    height: 60px;
    width: 250px;
    margin-left: 40px;
}
.A_la_française,.symbol
{
    margin-left: 20px;
}
.A_la_française p 
{
    margin-left: 15px;
    
}
.A_la_française 
{
    display: grid;
    justify-content: center;
    background-color: darkred;
    margin: 230px;
    margin-left: 552px;
    margin-right: 540px;
}
footer
{
    margin: 0;
}
/* La_note_enchantee */
header
{
    background-color:wheat ;
}
header img 
{
    width: 100%;
    height: 440px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    margin: 0;
    padding: 0;
}
header i 
{
    position: relative;left: 19em;bottom: 2em;
    font-size: 25px;
}
.LaNoteEnchantee h1
{
    display: grid;
    font-size: 40px;
    padding-top: 90px;
    margin-left: 15px;
}
.LaNoteEnchantee h4
{
    display: grid;
    justify-content: center;
    background-color: violet;
    position: relative;left: 6em;
    line-height: 50px;
    border-radius: 50px;
    font-size: 20px;
    height: 60px;
    width: 250px;
    margin-left: 40px;
}
.LaNoteEnchantee, .symbol
{
    margin-left: 20px;
}
.LaNoteEnchantee p 
{
    margin-left: 15px;
}
.LaNoteEnchantee
{
    display: grid;
    justify-content: center;
    background-color: darkred;
    margin: 230px;
    margin-left: 552px;
    margin-right: 540px;
}
.entree_1 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.entree_2
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.entree_3   
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.entree_4
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.plats_1 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.plats_2 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.plats_3 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.desserts_1  
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.desserts_2
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.desserts_3 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.entree_1 b 
{
    position: relative;left: 28em;bottom: 3.6em;
}
.entree_2 b 
{
    position: relative;left: 28em;bottom: 3.6em;
}
.entree_3 b 
{
    position: relative;left: 22em;bottom: 3.6em;
    
}
.entree_3 i 
{
    position: relative;bottom: 3.3em;left: 10.5em;
    font-size: 40px;
    display: flex;
    align-items: center;
    color: white;
    background-color: aquamarine;
    border-radius: 0px 20px 20px 0px;
    margin-top: 20px;
    width: 80px;
    height: 80px;
}
.entree_1 h2, .entree_2 h2, .entree_3 h2,
.entree_1 h3, .entree_2 h3, .entree_3 h3
{
    margin-left: 30px;
    margin: 15px;
}
.plats_1 h2,.plats_2 h2,.plats_3 h2,
.plats_1 h3,.plats_2 h3,.plats_3 h3
{
    margin-left: 30px;
    margin: 15px;
}
.desserts_1 h2, .desserts_2 h2, .desserts_3 h2,
.desserts_1 h3, .desserts_2 h3, .desserts_3 h3
{
    margin-left: 30px;
    margin: 15px;
}
.entree b 
{
    position: relative;left: 28em;top: 5em;
}
entree h2, h3
{
    margin-left: 20px;
    margin: 2px;
}
.entree  
{
    background-color: white;
    
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 100%;
}
.plats b 
{
    position: relative;left: 28em;top: 5em;
}
plats h2, h3
{
    margin-left: 20px;
    margin: 2px;
}
.plats 
{
    background-color: white;
    
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 100%;
}
.desserts b 
{
    position: relative;left: 28em;top: 5em;
}
desserts h2, h3
{
    margin-left: 20px;
    margin: 2px;
}
.desserts  
{
    background-color: white;
    
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 590px;
}
footer
{
    margin: 0;
   
}
/* La_palette_du_gout */

.imgL 
{
    width: 590px;
    height: 440px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    margin: 0;
    padding: 0;

}

.LaPaletteDuGout h1
{
    display: grid;
    font-size: 40px;
    padding-top: 90px;
    margin-left: 15px;
}
.LaPaletteDuGout h4
{
    display: grid;
    justify-content: center;
    background-color: violet;
    position: relative;left: 6em;
    line-height: 50px;
    border-radius: 50px;
    font-size: 20px;
    height: 60px;
    width: 250px;
    margin-left: 40px;
}
.LaPaletteDuGout, .symbol
{
    margin-left: 20px;
}
.LaPaletteDuGout p 
{
    margin-left: 15px;
}
.LaPaletteDuGout
{
    display: grid;
    justify-content: center;
    background-color: royalblue;
    margin: 230px;
    margin-left: 552px;
    margin-right: 540px;
}
.entree_1 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.entree_2
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.entree_3   
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.plats_1 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.plats_2 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.plats_3 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.desserts_1  
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.desserts_2
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.desserts_3 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.entree_1 b 
{
    position: relative;left: 28em;bottom: 3.6em;
}
.entree_2 b 
{
    position: relative;left: 28em;bottom: 3.6em;
}
.entree_3 b 
{
    position: relative;left: 22em;bottom: 3.6em;
    
}
.entree_3 i 
{
    position: relative;bottom: 3.3em;left: 10.5em;
    font-size: 40px;
    display: flex;
    align-items: center;
    color: white;
    background-color: aquamarine;
    border-radius: 0px 20px 20px 0px;
    margin-top: 20px;
    width: 80px;
    height: 80px;
}
.entree_1 h2, .entree_2 h2, .entree_3 h2,
.entree_1 h3, .entree_2 h3, .entree_3 h3
{
    margin-left: 30px;
    margin: 15px;
}
.plats_1 h2,.plats_2 h2,.plats_3 h2,
.plats_1 h3,.plats_2 h3,.plats_3 h3
{
    margin-left: 30px;
    margin: 15px;
}
.desserts_1 h2, .desserts_2 h2, .desserts_3 h2,
.desserts_1 h3, .desserts_2 h3, .desserts_3 h3
{
    margin-left: 30px;
    margin: 15px;
}
.entree b 
{
    position: relative;left: 28em;top: 5em;
}
.entree h2, h3
{
    margin-left: 20px;
    margin: 2px;
}
.entree  
{
    background-color: white;
    
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 590px;
}
.plats b 
{
    position: relative;left: 28em;top: 5em;
}
.plats h2, h3
{
    margin-left: 20px;
    margin: 2px;
}
.plats 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 590px;
}
.desserts b 
{
    position: relative;left: 28em;top: 5em;
}
.desserts h2, h3
{
    margin-left: 20px;
    margin: 2px;
}
.desserts  
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 590px;
}
footer
{
    margin: 0;
}
/* le_délice_des_sens */

header img 
{
    width: 100%;
    height: 440px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    margin: 0;
    padding: 0;
}
header i 
{
    position: relative;left: 19em;bottom: 2em;
    font-size: 25px;
}
.LeDeliceDesSens,.symbol
{
    margin-left: 20px;
}
.LeDeliceDesSens h1
{
    display: grid;
    font-size: 40px;
    padding-top: 90px;
    margin-left: 15px;
}
.LeDeliceDesSens h4
{
    display: grid;
    justify-content: center;
    background-color: violet;
    position: relative;left: 6em;
    line-height: 50px;
    border-radius: 50px;
    font-size: 20px;
    height: 60px;
    width: 250px;
    margin-left: 40px;
}
.LeDeliceDesSens p 
{
    margin-left: 15px;
}
.LeDeliceDesSens
{
    display: grid;
    justify-content: center;
    background-color: deeppink;
    margin: 230px;
    margin-left: 552px;
    margin-right: 540px;
}
.entree_1 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.entree_2
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.entree_3   
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.plats_1 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.plats_2 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.plats_3 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.entree_1 b 
{
    position: relative;left: 28em;bottom: 3.6em;
}
.entree_2 b 
{
    position: relative;left: 28em;bottom: 3.6em;
}
.entree_3 b 
{
    position: relative;left: 22em;bottom: 3.6em;
    
}
.entree_3 i 
{
    position: relative;bottom: 3.3em;left: 10.5em;
    font-size: 40px;
    display: flex;
    align-items: center;
    color: white;
    background-color: aquamarine;
    border-radius: 0px 20px 20px 0px;
    margin-top: 20px;
    width: 80px;
    height: 80px;
}
.entree_1 h2, .entree_2 h2, .entree_3 h2,
.entree_1 h3, .entree_2 h3, .entree_3 h3
{
    margin-left: 30px;
    margin: 15px;
}
.plats_1 h2,.plats_2 h2,.plats_3 h2,
.plats_1 h3,.plats_2 h3,.plats_3 h3
{
    margin-left: 30px;
    margin: 15px;
}
.desserts_1 h2, .desserts_2 h2, .desserts_3 h2,
.desserts_1 h3, .desserts_2 h3, .desserts_3 h3
{
    margin-left: 30px;
    margin: 15px;
}
.entree b 
{
    position: relative;left: 28em;top: 5em;
}
.entree h2, h3
{
    margin-left: 20px;
    margin: 2px;
}
.entree  
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 590px;
}
.plats b 
{
    position: relative;left: 28em;top: 5em;
}
.plats h2, h3
{
    margin-left: 20px;
    margin: 2px;
}
.plats 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 590px;
}
.desserts_1  
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.desserts_2
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.desserts_3 
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 550px;
}
.desserts b 
{
    position: relative;left: 28em;top: 5em;
}
.desserts h2, h3
{
    margin-left: 20px;
    margin: 2px;
}
.desserts  
{
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    height: 80px;
    width: 590px;
}
footer
{
    display: flex;
    flex-direction: column;
    position: relative;left: 35em;
    color: white;
    margin-right: 70em;
    background-color: rgba(20, 19, 2, 0.788);
    width: 590px;
    height: auto;
    
}