header 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180%;
    height: 90em;
    background-color: hsla(0, 0%, 96%, 0.521);
    margin-left: 33em;
    margin-bottom: 25em;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 0px;
    position: relative;bottom: 10em;right: 30em; 
}
.logo    
{
    margin-bottom: 50em;
    margin-right: 40em;
    position: relative;top: 48em;left: 20em;
}
footer i 
{
    position: relative;top: 1em;right: 5em;
    font-size: 45px;
    color: aliceblue;
}
.search_map i 
{
    position: relative;top: 2em;left: 12em;
    font-size: 25px;
    color: black;
}
input
{
    width: 99.5%;
    height: 90px;
    background-color: gray;
    border: none;
    font-size: 22px;
    margin-left: 0em;
    text-align: center;
    justify-content: center;
    display: flex;
}
.restaurant_Belleville p 
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    position: relative;top: 5em;
}
header p 
{
    font-size: 42px;
    margin-left: 100px;
    width: 90%;
}
header h1
{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50%;
    margin-left: 6em;
    font-size: 40px;
}
header h2
{
    background-color: rgba(196, 88, 196, 0.712);
    text-align: center;
    justify-content: center;
    margin-left: 9em;
    border-radius: 50px;
    line-height: 50px;
    color: white;
    box-shadow: 16px violet;
    height: 60px;
    width: 50%;
}
.Functioning p 
{
    text-align: center;
    justify-content: center;
    margin: 5px;
    position: relative;right: 7em;
    border-radius: 50px;
    line-height: 80px;
    background-color: white;
    box-shadow: 16px white;
    height: 90px;
    width: 300%;
    font-size: 20px;
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body
{
    background-color: whitesmoke;
    margin-right: 15em;
    padding: 0;
    align-items: center;
    justify-content:center;
}
#header_Functioning
{
    display: flex;
    flex-direction: column;
    position: relative;bottom: 25em;
    margin-left: 15em;
    padding: 0;
    
}
#restaurant
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;bottom: 20em;
    
      
}
.restaurant_Belleville img 
{
    width:100%;
    height: 450px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.restaurant_Belleville h1
{
    margin-left: 15px;
    margin: 25px;
    font-size: 30px;
}
.restaurant_Belleville 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    width: 180%;
    margin-left: 0em;
    margin: 2em;
    padding: 0;
    
    
}
.search_mobile i 
{
    position: relative;bottom: 2.5em;left: 0em;
    font-size: 30px;
    
}
.search_menu i 
{
    font-size: 60px;
    position: relative;top: 1.4em;left: 0em;
}
.search_restaurant i 
{
    position: relative;top: 1.4em;left: 0em;
    font-size: 30px;
}
.symbol
{
    position: relative;left: 30em;bottom: 4em;
    font-size: 25px;
    border-bottom: none;
}
.restaurant_Belleville p 
{
    margin-left: 20em;
    position: relative;bottom: 30em;
    font-size: 30px;
    background-color: rgb(192, 212, 198);
    border-radius: 4px;
    width: 120px;
    height: 40px;
    color: #14fa0cec;  
}
.Functioning h2
{
    font-size: 50px;
    position: relative;right: 2.6em;
    width: 50%;
}
.restaurant_Belleville h4  
{
    margin-left: 40px;
    font-size: 20px;
    
}
.restaurant_Belleville h3  
{
    margin-left: 40px;
    font-size: 2em;
    
}
#restaurant h2
{
    margin-left: 30px;
    font-size: 50px;
}
footer h3
{
    margin-left: 30px;
    font-style: oblique;
    font-size: 25px;
}
footer P 
{
    margin-left: 30px;
}
.ohmyfood i 
{
    font-size: medium;
}
.ohmyfood
{
    display: flex;
    flex-direction: column;
    margin-top: 0em;
    color: white;
    position: relative;left: 0em;
    background-color: rgba(20, 19, 2, 0.788);
    width: 199%;
    height: auto;  
}
/* A_la_française */

h  
{
    width: 20%;
    height: 10em;
    position: relative;bottom: 14em;left: 10em;
}
body
{
    margin: 0;
    padding: 0;
    align-items: center;
    width: 50%;
    
    
}
header i 
{
    position: relative;right: 0em;top: 55em;
    font-size: 25px;
}
.A_la_française img 
{
    width: 133%;
    height: 450px;
    border-radius: 0px 0px -50px -50px;
    position: relative;bottom: 35em;left: 5em;
    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 0;
    

}
.entree_1 b 
{
    position: relative;left: 22em;bottom: 2.2em;
    
}
.entree_2 b 
{
    position: relative;left: 22em;bottom: 2.2em;
  
}
.entree_3 b 
{
    position: relative;left: 17em;bottom: 2.2em;
    
}
.entree_4 b 
{
    position: relative;left: 22em;bottom: 3.6em;
    
}
.entree_3 i 
{
    position: relative;bottom: 2.4em;left: 8.2em;
    font-size: 40px;
    display: flex;
    align-items: center;
    color: white;
    background-color: aquamarine;
    border-radius: 0px 20px 20px 0px;
    margin-top: 20px;
    width: 17%;
    height: 85px;
    display: grid;
    
}
.entree_1 h2, .entree_2 h2, .entree_3 h2, .entree_4 h2
{
    margin-left: 30px;
    margin: 15px;
    
}
.entree_1 h3, .entree_2 h3, .entree_3 h3, .entree_4 h3  
{
    margin-left: 30px;
    margin: 15px;
    
}
.entree_1 
{
    background-color: white;
    margin: 15px;
    margin-left: 4em;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    line-height: 5px;
    height: 85px;
    width: 180%;
    display: grid;
}
.entree_2
{
    background-color: white;
    margin: 15px;
    margin-left: 4em;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    line-height: 5px;
    height: 85px;
    width: 180%;
    display: grid;
    
}
.entree_3   
{
    background-color: white;
    margin: 15px;
    margin-left: 4em;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    line-height: 5px;
    height: 85px;
    width: 180%;
    display: grid;
    
}
.plats_1 h2,.plats_2 h2,.plats_3 h2
{
    margin-left: 30px;
    margin: 15px;
}
.plats_1 h3,.plats_2 h3,.plats_3 h3
{
    margin-left: 30px;
    margin: 15px;
}
.plats_1 b,.plats_2 b,.plats_3 b 
{
    position: relative;left: 22em;bottom: 2.2em;
    display: grid;
} 
.desserts_1 b, .desserts_2 b, .desserts_3 b 
{
    position: relative;left: 22em;bottom: 2.2em;
}
.plats_1 
{
    background-color: white;
    margin: 15px;
    margin-left: 4em;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    line-height: 5px;
    height: 85px;
    width: 180%;
    display: grid;

}
.plats_2 
{
    background-color: white;
    margin: 15px;
    margin-left: 4em;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    line-height: 5px;
    height: 85px;
    width: 180%;
    display: grid;

}
.plats_3 
{
    background-color: white;
    margin: 15px;
    margin-left: 4em;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    line-height: 5px;
    height: 85px;
    width: 180%;
    display: grid;

}
.desserts_1 h2, .desserts_2 h2, .desserts_3 h2
{
    margin-left: 30px;
    margin: 15px;
}
.desserts_1 h3, .desserts_2 h3, .desserts_3 h3
{
    margin-left: 30px;
    margin: 15px;
}
.desserts_1  
{
    background-color: white;
    margin: 15px;
    margin-left: 4em;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    line-height: 5px;
    height: 85px;
    width: 180%;
    display: grid;
}
.desserts_2
{
    background-color: white;
    margin: 15px;
    margin-left: 4em;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    line-height: 5px;
    height: 85px;
    width: 180%;
    display: grid;
}
.desserts_3 
{
    background-color: white;
    margin: 15px;
    margin-left: 4em;
    border-radius: 15px;
    color: black;
    box-shadow: 16px white;
    line-height: 5px;
    height: 85px;
    width: 180%;
    display: grid;
}
.A_la_française h1
{
    display: grid;
    font-size: 35px;
    padding-top: 90px;
    margin-left: 70px;

}
a, a:hover, a:visited, a:active
{
    
    text-decoration: none;
}
.A_la_française h4 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
    position: relative;left: 4em;
    line-height: 50px;
    border-radius: 50px;
    font-size: 20px;
    height: 60px;
    width: 250px;
    margin-left: 35px;

    
}
.A_la_française .symbol
{
    position: relative;left: 15em;bottom: 2.5em;
}
.A_la_française p 
{
    margin-left: 70px;
    
}
.A_la_française
{
    display: grid;
    justify-content: center;
    width: auto;
    

}
footer
{
    display: flex;
    flex-direction: column;
    position: relative;left: 0em;top: 4em;
    color: white;
    background-color: rgba(20, 19, 2, 0.788);
    width: 260%;
    height: auto;

}

/* la_palette_du_Gout */

.la_palette_du_Gout img 
{
    width: 100%;
    height: 440px;
    border-radius: 0px 0px -50px -50px;
    position: relative;top: 5em;left: 1em;
    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 35%;
}
.la_palette_du_Gout h4
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
    position: relative;left: 4em;
    line-height: 50px;
    border-radius: 50px;
    font-size: 20px;
    height: 60px;
    width: 100%;
    margin-left: 35px;
}
.la_palette_du_Gout p 
{
    margin-left: 20px;
}

/* la_note_enchantee */

.la_note_enchantee img 
{
    width: 100%;
    height: 440px;
    border-radius: 0px 0px -50px -50px;
    position: relative;top: 5em;left: 1em;
    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 250px;
}
.la_note_enchantee h4
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
    position: relative;left: 4em;
    line-height: 50px;
    border-radius: 50px;
    font-size: 20px;
    height: 60px;
    width: 100%;
    margin-left: 35px;
}
.la_note_enchantee p 
{
    margin-left: 20px;
}
/* la_note_enchantee */

.le_delice_des_sens img 
{
    width: 100%;
    height: 440px;
    border-radius: 0px 0px -50px -50px;
    position: relative;top: 5em;left: 1em;
    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 250px;
}
.le_delice_des_sens h4
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
    position: relative;left: 4em;
    line-height: 50px;
    border-radius: 50px;
    font-size: 20px;
    height: 60px;
    width: 100%;
    margin-left: 35px;
}
.le_delice_des_sens p 
{
    margin-left: 20px;
}

