<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/resto.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/79e163a779.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Shrikhand&display=swap" rel="stylesheet">
    <title>Ohmyfood - À la française</title>
</head>

<body>
    <main>
        <header class="headerMenu">
            <a href="../index.html"><i class="fas fa-arrow-left headerMenu__arrow"></i></a>
            <h1 class="header__title">ohmyfood</h1>
        </header>

        <div class="menuImg">
            <img class="menuImg__img" src="../img/toa-heftiba-DQKerTsQwi0-unsplash.jpg"
                alt="Photo d'un plat du restaurant La palette du goût">
        </div>

        <section class="menu">
            <div class="menu__header">
                <h2 class="menu__header__title">À la française</h2>
                <div class="hearts">
                    <i class="empty far fa-heart"></i>
                    <i class="full fas fa-heart"></i>
                </div>
            </div>

            <div class="content">
                <section class="entrees">
                    <div class="title">
                        <p id="starters" class="entitled name">ENTR<span class="upper">é</span>ES</p>
                        <div class="underline"></div>
                    </div>
                    <div class="entree_choice">
                        <div id="delay0" class="choix">
                            <div class="desc">
                                <h3 class="dish">Tartare de poulpe acidulé</h3>
                                <div class="line2">
                                    <p class="compo">Aux zests d'orange</p>
                                    <p class="price">25€</p>
                                </div>
                            </div>
                            <div class="check">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                        <div id="delay1" class="choix">
                            <div class="desc">
                                <h3 class="dish">Velouté de légumes d'antan</h3>
                                <div class="line2">
                                    <p class="compo">Carotte, panais, topinambour</p>
                                    <p class="price">35€</p>
                                </div>
                            </div>
                            <div class="check">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                        <div id="delay2" class="choix">
                            <div class="desc">
                                <h3 class="dish">Soupe à l'oignon</h3>
                                <div class="line2">
                                    <p class="compo">Revisitée</p>
                                    <p class="price">20€</p>
                                </div>
                            </div>
                            <div class="check">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="plats">
                    <div class="title">
                        <p class="entitled name">PLATS</p>
                        <div class="underline"></div>
                    </div>
                    <div class="plats_choice">
                        <div id="delay3" class="choix">
                            <div class="desc">
                                <h3 class="dish">Coquilles Saint-Jacques</h3>
                                <div class="line2">
                                    <p class="compo">Accompagnées d'une purée de panais</p>
                                    <p class="price">40€</p>
                                </div>
                            </div>
                            <div class="check">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                        <div id="delay4" class="choix">
                            <div class="desc">
                                <h3 class="dish">Magret de canard</h3>
                                <div class="line2">
                                    <p class="compo">Et parmentier de pommes de terre</p>
                                    <p class="price">35€</p>
                                </div>
                            </div>
                            <div class="check">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                        <div id="delay5" class="choix">
                            <div class="desc">
                                <h3 class="dish">Pigeonneau d'Ille-et-Vilaine</h3>
                                <div class="line2">
                                    <p class="compo">Sur son lit de gnocchis aux légumes</p>
                                    <p class="price">44€</p>
                                </div>
                            </div>
                            <div class="check">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="desserts">
                    <div class="title">
                        <p class="entitled name">DESSERTS</p>
                        <div class="underline"></div>
                    </div>
                    <div class="desserts_choice">
                        <div id="delay6" class="choix">
                            <div class="desc">
                                <h3 class="dish">Pétales de violettes glacées</h3>
                                <div class="line2">
                                    <p class="compo">Et purée de noisettes</p>
                                    <p class="price">18€</p>
                                </div>
                            </div>
                            <div class="check">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                        <div id="delay7" class="choix">
                            <div class="desc">
                                <h3 class="dish">Fondant au chocolat</h3>
                                <div class="line2">
                                    <p class="compo">Revisité</p>
                                    <p class="price">22€</p>
                                </div>
                            </div>
                            <div class="check">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                        <div id="delay8" class="choix">
                            <div class="desc">
                                <h3 class="dish">Millefeuille croustillant</h3>
                                <div class="line2">
                                    <p class="compo">Myrtilles et pâte d'amendes</p>
                                    <p class="price">23€</p>
                                </div>
                            </div>
                            <div class="check">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="menu__command">
                <input class="btn menu__command__button" type="button" value="Commander">
            </div>
        </section>

        <footer class="footer">
            <h4 class="footer__h4">ohmyfood</h4>
            <a href="#">
                <p><i class="fas fa-utensils"></i> Proposer un restaurant</p>
            </a>
            <a href="#">
                <p><i class="fas fa-hands-helping"></i> Devenir partenaire</p>
            </a>
            <a href="#">
                <p>Mentions légales</p>
            </a>
            <a href="mailto:contact@ohmyfood.com">
                <p>Contact</p>
            </a>
        </footer>
    </main>
</body>

</html>