<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/resto.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/79e163a779.js" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ohmyfood</title>
</head>

<body>
    <header>
        <a href="../index.html">
            <i class="fas fa-arrow-left"></i>
            <img src="../img/logo/ohmyfood@2x.svg" alt="#">
        </a>
    </header>
    <section>
        <div class="a_la_française">
            <a href="#">
                <img src="../img/toa-heftiba-DQKerTsQwi0-unsplash.jpg" alt="#">
            </a>
            <h1>À la française</h1>
            <a href="#">
                <i class="fas fa-heart"></i>
            </a>
            <p>ENTRÉES</p>
            <a href="#">
                <div class="entree_1">
                    <h2>Tartare de poulpe acidulé</h2>
                    <h3>Aux zests d'orange</h3>
                    <b>25€</b>
                </div>
            </a>
            <a href="#">
                <div class="entree_2">
                    <h2>Velouté de légumes d'antan</h2>
                    <h3>Carotte, panais, topinambour</h3>
                    <b>35€</b>
                </div>
            </a>
            <a href="#">
                <div class="entree_3">
                    <h2>Soupe à l'oignon</h2>
                    <h3>Revisitée</h3>
                    <b>20€</b>
                    <i class="far fa-check-circle"></i>
                </div>
            </a>
            <p>PLATS</p>
            <a href="#">
                <div class="plats_1">
                    <h2>Coquilles Saint-Jacques</h2>
                    <h3>Accomppagnées d'une purée de panais</h3>
                    <b>40€</b>
                </div>
            </a>
            <a href="#">
                <div class="plats_2">
                    <h2>Magret de canard</h2>
                    <h3>Et parmentier de pommes de terres</h3>
                    <b>35€</b>
                </div>
            </a>
            <a href="#">
                <div class="plats_3">
                    <h2>Pigeonneau d'Ille-et-Vilaine</h2>
                    <h3>Sur son lit de gnocchis aus légumes</h3>
                    <b>44€</b>
                </div>
            </a>
            <p>DESSERTS</p>
            <a href="#">
                <div class="desserts_1">
                    <h2>Pétales de violettes glacés</h2>
                    <h3>Et purée de noisettes</h3>
                    <b>18€</b>
                </div>
            </a>
            <a href="#">
                <div class="desserts_2">
                    <h2>Fondant au chocolat</h2>
                    <h3>Revisité</h3>
                    <b>22€</b>
                </div>
            </a>
            <a href="#">
                <div class="desserts_3">
                    <h2>Millefeuille croustillant</h2>
                    <h3>Myrtilles et pâte d'amande</h3>
                    <b>23€</b>
                </div>
            </a>
            <a href="#">
                <h4>Commander</h4>
            </a>
        </div>
    </section>
    <footer>

        <h3>ohmyfood</h3>
        <a href="#">
            <i class="fas fa-utensils"></i>
            <h5>Proposer un restaurant</h5>
        </a>
        <a href="#">
            <i class="fas fa-hands-helping"></i>
            <h5>Devenir partinaire</h5>
        </a>
        <a href="#">
            <P>Mentions légales</P>
        </a>
        <a href="#">
            <p>Contact</p>
        </a>
    </footer>

</body>

</html>