<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/79e163a779.js" crossorigin="anonymous"></script>
    <title>ohmyfood</title>
</head>
<body>
    <header>
        <i class="fas fa-arrow-left"></i>
        <img src="logo\ohmyfood.png" alt="#">
        <img src="louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg" alt="#">
    </header>
    <section class="LeDeliceDesSens">
        <h1>Le délice des sens</h1>
        <td><span class="symbol"> 🤍 </span></td>
        <p>ENTRÉES</p>
        <div class="entree">
            <h2>Tartare de thon</h2>
            <h3>Assaisonné au yuzu</h3>
            <b>25€</b>
        </div>
        <div class="entree">
            <h2>Bouchée de homard croustillant</h2>
            <h3>Et sa farandole de petits légumes</h3>
            <b>35€</b>
        </div>
        <div class="entree">
            <h2>Velouté de cèpes</h2>
            <h3>Aux truffes</h3>
            <b>20€</b>
        </div>
        <p>PLATS</p>
        <div class="plats">
            <h2>Poulet rôti aux herbes de provence</h2>
            <h3>Et sa crème de truffe</h3>
            <b>40€</b>
        </div>
        <div class="plats">
            <h2>Langouste rôtie</h2>
            <h3>Et ses légumes de saison</h3>
            <b>35€</b>
        </div>
        <div class="plats">
            <h2>Côte de boeuf angus</h2>
            <h3>Et sa purée de panais</h3>
            <b>44€</b>
        </div>
        <p>DESSERTS</p>
        <div class="desserts">
            <h2>Farandole de desserts</h2>
            <h3>Du chef</h3>
            <b>18€</b>
        </div>
        <div class="desserts">
            <h2>Crème brulée</h2>
            <h3>Revisitée</h3>
            <b>22€</b>
        </div>
        <div class="desserts">
            <h2>Tiramisu</h2>
            <h3>À la noisette</h3>
            <b>23€</b>
        </div>
        <h4>Commander</h4>
    </section>
    <footer>
        <h3>ohmyfood</h3>
        <p>Proposer</p>
        <p>Devenir partinaire</p>
        <P>Mentions légales</P>
        <p>Contact</p>
    </footer>

</body>

</html>