<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/resto.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/79e163a779.js" crossorigin="anonymous"></script>
    <title>ohmyfood</title>
</head>

<body>
    <header>
        <a href="../index.html"><i class="fas fa-arrow-left"></i></a>
        <h1 class="header_title">ohmyfood</h1>
    </header>

    <div class="menu-img">
        <img src="../img/stil-u2Lp8tXIcjw-unsplash.jpg" alt="#">
    </div>

    <section class="menu">
        <div class="menu_header">
            <h2 class="menu_title">La note enchantée</h2>
            <div class="hearts">
                <i class="empty far fa-heart"></i>
                <i class="full fas fa-heart"></i>
            </div>
        </div>

        <div class="menu_box">
            <article class="menu_place">
                <h3 class="box_title">ENTRÉES</h3>
                <div class="box_choix">
                    <h4 class="choix_t">Ravioles de foie gras</h4>
                    <div class="choix_f">
                        <p class="choix_n">Accomppagnés de leur crème à la truffe </p>
                        <p class="choix_p">25€</p>
                    </div>
                    <span class="menu_bloc_part_choice_check">
                        <i class="fas fa-check menu_bloc_part_choice_check_faCheck"></i></span>
                </div>

                <div class="box_choix">
                    <h4 class="choix_t">Caviar osciiètre</h4>
                    <div class="choix_f">
                        <p class="choix_n">Sur blini à la farine de blé noir</p>
                        <p class="choix_p">35€</p>
                    </div>
                    <span class="menu_bloc_part_choice_check">
                        <i class="fas fa-check menu_bloc_part_choice_check_faCheck"></i></span>
                </div>

                <div class="box_choix">
                    <h4 class="choix_t">Homard et espuma de...</h4>
                    <div class="choix_f">
                        <p class="choix_n">Mariné aux zests d'orange</p>
                        <p class="choix_p">20€</p>
                    </div>
                    <span class="menu_bloc_part_choice_check">
                        <i class="fas fa-check menu_bloc_part_choice_check_faCheck"></i></span>
                </div>

                <div class="box_choix">
                    <h4 class="choix_t">Foie gras de canard cuit entier </h4>
                    <div class="choix_f">
                        <p class="choix_n">Confiture de figue et pain toasté</p>
                        <p class="choix_p">35€</p>
                    </div>
                    <span class="menu_bloc_part_choice_check">
                        <i class="fas fa-check menu_bloc_part_choice_check_faCheck"></i></span>
                </div>
            </article>

            <article class="menu_place">
                <h3 class="box_title">PLATS</h3>
                <div class="box_choix">
                    <h4 class="choix_t">Noix Coquilles Saint-Jacques</h4>
                    <div class="choix_f">
                        <p class="choix_n">Sur lit de purée de céleri-rave</p>
                        <p class="choix_p">40€</p>
                    </div>
                    <span class="menu_bloc_part_choice_check">
                        <i class="fas fa-check menu_bloc_part_choice_check_faCheck"></i></span>
                </div>

                <div class="box_choix">
                    <h4 class="choix_t">Langoustine poêlée</h4>
                    <div class="choix_f">
                        <p class="choix_n">Purée de patate douce</p>
                        <p class="choix_p">35€</p>
                    </div>
                    <span class="menu_bloc_part_choice_check">
                        <i class="fas fa-check menu_bloc_part_choice_check_faCheck"></i></span>
                </div>

                <div class="box_choix">
                    <h4 class="choix_t">Mijoté de queue de boeuf</h4>
                    <div class="choix_f">
                        <p class="choix_n">Et riz sauvage aux zests de citron</p>
                        <p class="choix_p">44€</p>
                    </div>
                    <span class="menu_bloc_part_choice_check">
                        <i class="fas fa-check menu_bloc_part_choice_check_faCheck"></i></span>
                </div>
            </article>

            <article class="menu_place">
                <h3 class="box_title">DESSERTS</h3>
                <div class="box_choix">
                    <h4 class="choix_t">Macaron noisette et chocolat</h4>
                    <div class="choix_f">
                        <p class="choix_n">Glace au caramel brun et sel de Guérande</p>
                        <p class="choix_p">18€</p>
                    </div>
                    <span class="menu_bloc_part_choice_check">
                        <i class="fas fa-check menu_bloc_part_choice_check_faCheck"></i></span>
                </div>

                <div class="box_choix">
                    <h4 class="choix_t">Baba au rhum revisité</h4>
                    <div class="choix_f">
                        <p class="choix_n">Avec son coulis de citron</p>
                        <p class="choix_p">22€</p>
                    </div>
                    <span class="menu_bloc_part_choice_check">
                        <i class="fas fa-check menu_bloc_part_choice_check_faCheck"></i></span>
                </div>

                <div class="box_choix">
                    <h4 class="choix_t">Tarte au citron meringuée</h4>
                    <div class="choix_f">
                        <p class="choix_n">Destructurée</p>
                        <p class="choix_p">23€</p>
                    </div>
                    <span class="menu_bloc_part_choice_check">
                        <i class="fas fa-check menu_bloc_part_choice_check_faCheck"></i></span>
                </div>
            </article>
        </div>
        <div class="command">
            <input class="button" type="button" value="Commander">
        </div>
    </section>
    <footer class="footer">
        <h4 class="footer__h4">ohmyfood</h4>
        <a href="#">
            <p><i class="fas fa-utensils"></i> Proposer un restaurant</p>
        </a>
        <a href="#">
            <p><i class="fas fa-hands-helping"></i> Devenir partenaire</p>
        </a>
        <a href="#">
            <p>Mentions légales</p>
        </a>
        <a href="mailto:contact@ohmyfood.com">
            <p>Contact</p>
        </a>
    </footer>

</body>

</html>