<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/resto.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/79e163a779.js" crossorigin="anonymous"></script>
    <title>ohmyfood</title>
</head>

<body>
    <header>
        <a href="../index.html">
            <i class="fas fa-arrow-left"></i>
            <img src="../img\logo\ohmyfood@2x.svg" alt="#">
        </a>
    </header>
    <section>
        <div class="la_note_enchantee">
            <a href="#">
                <img src="../img/stil-u2Lp8tXIcjw-unsplash.jpg" alt="#">
            </a>
            <h1>La note enchantée</h1>
            <a href="#">
                <i class="fas fa-heart"></i>
            </a>
            <p>ENTRÉES</p>
            <a href="#">
                <div class="entree_1">
                    <h2>Ravioles de foie gras</h2>
                    <h3>Accomppagnés de leur crème à la truffe </h3>
                    <b>25€</b>
                </div>
            </a>
            <a href="#">
                <div class="entree_2">
                    <h2>Caviar osciiètre</h2>
                    <h3>Sur blini à la farine de blé noir</h3>
                    <b>35€</b>
                </div>
            </a>
            <a href="#">
                <div class="entree_3">
                    <h2>Homard et espuma de...</h2>
                    <h3>Mariné aux zests d'orange</h3>
                    <b>20€</b>
                    <i class="far fa-check-circle"></i>
                </div>
            </a>
            <a href="#">
                <div class="entree_4">
                    <h2>Foie gras de canard cuit entier </h2>
                    <h3>Confiture de figue et pain toasté</h3>
                    <b>35€</b>
                </div>
            </a>
            <p>PLATS</p>
            <a href="#">
                <div class="plats_1">
                    <h2>Noix Coquilles Saint-Jacques</h2>
                    <h3>Sur lit de purée de céleri-rave</h3>
                    <b>40€</b>
                </div>
            </a>
            <a href="#">
                <div class="plats_2">
                    <h2>Langoustine poêlée</h2>
                    <h3>Purée de patate douce</h3>
                    <b>35€</b>
                </div>
            </a>
            <a href="#">
                <div class="plats_3">
                    <h2>Mijoté de queue de boeuf</h2>
                    <h3>Et riz sauvage aux zests de citron</h3>
                    <b>44€</b>
                </div>
            </a>
            <p>DESSERTS</p>
            <a href="#">
                <div class="desserts_1">
                    <h2>Macaron noisette et chocolat</h2>
                    <h3>Glace au caramel brun et sel de Guérande</h3>
                    <b>18€</b>
                </div>
            </a>
            <a href="#">
                <div class="desserts_2">
                    <h2>Baba au rhum revisité</h2>
                    <h3>Avec son coulis de citron</h3>
                    <b>22€</b>
                </div>
            </a>
            <a href="#">
                <div class="desserts_3">
                    <h2>Tarte au citron meringuée</h2>
                    <h3>Destructurée</h3>
                    <b>23€</b>
                </div>
            </a>
            <a href="#">
                <h4>Commander</h4>
            </a>
        </div>
    </section>
    <footer>
        <h3>ohmyfood</h3>
        <i class="fas fa-utensils"></i>
        <h5>Proposer un restaurant</h5>
        <i class="fas fa-hands-helping"></i>
        <h5>Devenir partinaire</h5>
        <P>Mentions légales</P>
        <p>Contact</p>
    </footer>

</body>

</html>