<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/resto.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/79e163a779.js" crossorigin="anonymous"></script>
    <title>ohmyfood</title>
</head>

<body>
    <header>
        <a href="../index.html"><i class="fas fa-arrow-left"></i></a>
        <h1 class="header_title">ohmyfood</h1>
    </header>
    <div class="menu-img">
        <img src="../img/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="#">
    </div>
    
    <section class="menu">
        <div class="menu_header">
            <h2 class="menu_title">La palette du goût</h2>
            <div class="hearts">
                <i class="empty far fa-heart"></i>
                <i class="full fas fa-heart"></i>
            </div>
        </div>
        <div class="menu_box">
            <article class="menu_place">
                <h3 class="box_title">ENTRÉES</h3>
                <div class="box_choix">
                    <h4 class="choix_t">Fricassée d'escargot</h4>
                    <div class="choix_f">
                        <p class="choix_n">Au piment d'espelette</p>
                        <p class="choix_p">25€</p>
                    </div>
                    <span class="menu_fa-check-circle">
                        <i class="far fa-check-circle"></i></span>
                </div>

                <div class="box_choix">
                    <h4 class="choix_t">Foie gras de canard mi-cuit</h4>
                    <div class="choix_f">
                        <p class="choix_n">Et ses copeaux de truffe noire</p>
                        <p class="choix_p">35€</p>
                    </div>
                    <span class="menu_fa-check-circle">
                        <i class="far fa-check-circle"></i></span>
                </div>

                <div class="box_choix">
                    <h4 class="choix_t">Oeuf au plat</h4>
                    <div class="choix_f">
                        <p class="choix_n">Assaisonné à la truffe sur lit de....</p>
                        <p class="choix_p">20€</p>
                    </div>
                    <span class="menu_fa-check-circle">
                        <i class="far fa-check-circle"></i></span>
                </div>
            </article>

            <article class="menu_place">
                <h3 class="box_title">PLATS</h3>
                <div class="box_choix">
                    <h4 class="choix_t">Filet de boeuf aux herbes</h4>
                    <div class="choix_f">
                        <p class="choix_n">Accomppagné de sa ribambelle de légu</p>
                        <p class="choix_p">40€</p>
                    </div>
                    <span class="menu_fa-check-circle">
                        <i class="far fa-check-circle"></i></span>
                </div>

                <div class="box_choix">
                    <h4 class="choix_t">Parmentier de queue de boeuf</h4>
                    <div class="choix_f">
                        <p class="choix_n">À la truffe noire sur sa purée de panais</p>
                        <p class="choix_p">35€</p>
                    </div>
                    <span class="menu_fa-check-circle">
                        <i class="far fa-check-circle"></i></span>
                </div>

                <div class="box_choix">
                    <h4 class="choix_t">Filet de turbot</h4>
                    <div class="choix_f">
                        <p class="choix_n">Aux agrumes</p>
                        <p class="choix_p">44€</p>
                    </div>
                </div>
            </article>

            <article class="menu_place">
                <h3 class="box_title">DESSERTS</h3>
                <div class="box_choix">
                    <h4 class="choix_t">Paris-Brest</h4>
                    <div class="choix_f">
                        <p class="choix_n">Revisité</p>
                        <p class="choix_p">18€</p>
                    </div>
                    <span class="menu_fa-check-circle">
                        <i class="far fa-check-circle"></i></span>
                </div>

                <div class="box_choix">
                    <h4 class="choix_t">Macaron au chocolat d'exception</h4>
                    <div class="choix_f">
                        <p class="choix_n">Et glace à la vanille de Madagascar</p>
                        <p class="choix_p">22€</p>
                    </div>
                    <span class="menu_fa-check-circle">
                        <i class="far fa-check-circle"></i></span>
                </div>

                <div class="box_choix">
                    <h4 class="choix_t">Mousse au chocolat </h4>
                    <div class="choix_f">
                        <p class="choix_n">Au piment d'espelette et à la truffe noire</p>
                        <p class="choix_p">23€</p>
                    </div>
                    <span class="menu_fa-check-circle">
                        <i class="far fa-check-circle"></i></span>
                </div>
            </article>
        </div>

        <div class="command">
            <input class="button" type="button" value="Commander">
        </div>

    </section>
    <footer class="footer">
        <h4 class="footer__h4">ohmyfood</h4>
        <a href="#">
            <p><i class="fas fa-utensils"></i> Proposer un restaurant</p>
        </a>
        <a href="#">
            <p><i class="fas fa-hands-helping"></i> Devenir partenaire</p>
        </a>
        <a href="#">
            <p>Mentions légales</p>
        </a>
        <a href="mailto:contact@ohmyfood.com">
            <p>Contact</p>
        </a>
    </footer>

</body>

</html>