<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/resto.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/79e163a779.js" crossorigin="anonymous"></script>
    <title>ohmyfood</title>
</head>

<body>
    <header>
        <a href="../index.html">
            <i class="fas fa-arrow-left"></i>
            <img src="../img/logo/ohmyfood@2x.svg" alt="#">
        </a>
    </header>
    <section>
        <div class="la_palette_du_Gout">
            <a href="#">
                <img src="../img/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="#">
            </a>
            <h1>La palette du goût</h1>
            <a href="#">
                <i class="fas fa-heart"></i>
            </a>
            <p>ENTRÉES</p>
            <a href="#">
                <div class="entree_1">
                    <h2>Fricassée d'escargot</h2>
                    <h3>Au piment d'espelette</h3>
                    <b>25€</b>
                </div>
            </a>
            <a href="#">
                <div class="entree_2">
                    <h2>Foie gras de canard mi-cuit</h2>
                    <h3>Et ses copeaux de truffe noire</h3>
                    <b>35€</b>
                </div>
            </a>
            <a href="#">
                <div class="entree_3">
                    <h2>Oeuf au plat</h2>
                    <h3>Assaisonné à la truffe sur lit de....</h3>
                    <b>20€</b>
                    <i class="far fa-check-circle"></i>
                </div>
            </a>
            <p>PLATS</p>
            <a href="#">
                <div class="plats_1">
                    <h2>Filet de boeuf aux herbes</h2>
                    <h3>Accomppagné de sa ribambelle de légu</h3>
                    <b>40€</b>
                </div>
            </a>
            <a href="#">
                <div class="plats_2">
                    <h2>Parmentier de queue de boeuf</h2>
                    <h3>À la truffe noire sur sa purée de panais</h3>
                    <b>35€</b>
                </div>
            </a>
            <a href="#">
                <div class="plats_3">
                    <h2>Filet de turbot</h2>
                    <h3>Aux agrumes</h3>
                    <b>44€</b>
                </div>
            </a>
            <p>DESSERTS</p>
            <a href="#">
                <div class="desserts_1">
                    <h2>Paris-Brest</h2>
                    <h3>Revisité</h3>
                    <b>18€</b>
                </div>
            </a>
            <a href="#">
                <div class="desserts_2">
                    <h2>Macaron au chocolat d'exception</h2>
                    <h3>Et glace à la vanille de Madagascar</h3>
                    <b>22€</b>
                </div>
            </a>
            <a href="#">
                <div class="desserts_3">
                    <h2>Mousse au chocolat </h2>
                    <h3>Au piment d'espelette et à la truffe noire</h3>
                    <b>23€</b>
                </div>
            </a>
            <a href="#">
                <h4>Commander</h4>
            </a>
        </div>
    </section>
    <footer>
        <a href="#">
            <h3>ohmyfood</h3>
            <i class="fas fa-utensils"></i>
            <h5>Proposer un restaurant</h5>
            <i class="fas fa-hands-helping"></i>
            <h5>Devenir partinaire</h5>
            <P>Mentions légales</P>
            <p>Contact</p>
        </a>
    </footer>

</body>

</html>