<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/resto.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/79e163a779.js" crossorigin="anonymous"></script>
    <title>Ohmyfood - La palette du goût</title>
</head>

<body>
    <main>
        <header class="headerMenu">
            <a href="../index.html"><i class="fas fa-arrow-left headerMenu__arrow"></i></a>
            <h1 class="header__title">ohmyfood</h1>
        </header>

        <div class="menuImg">
            <img class="menuImg__img" src="../img/jay-wennington-N_Y88TWmGwA-unsplash.jpg"
                alt="Photo d'un plat du restaurant La palette du goût">
        </div>

        <section class="menu">
            <div class="menu__header">
                <h2 class="menu__header__title" >La palette du goût</h2>
                <div class="hearts">
                    <i class="empty far fa-heart"></i>
                    <i class="full fas fa-heart"></i>
                </div>
            </div>

            <div class="content">
                <section class="palette_entrees entrees">
                    <div class="title">
                            <p class="entitled name">ENTR<span class="upper">é</span>ES</p>
                            <div class="underline"></div>
                        </div>
                                <div class="entree_choice">
                                        <div id="delay0" class="choix">
                                            <div class="desc">
                                            <h3 class="dish">Fricassée d'escargot</h3>
                                            <div class="line2"><p class="compo">Au piment d'Espelette</p><p class="price">25€</p></div>
                                        </div>
                                        <div class="check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                        </div>
                                        <div id="delay1" class="choix">
                                            <div class="desc">
                                            <h3 class="dish">Foie gras de canard mi-cuit</h3>
                                            <div class="line2"><p class="compo">Et ses copeaux de truffe noire</p><p class="price">35€</p></div>
                                        </div>
                                        <div class="check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                        </div>
                                        <div id="delay2" class="choix">
                                            <div class="desc">
                                            <h3 class="dish">Oeuf au plat</h3>
                                            <div class="line2"><p class="compo">Assaisonné à la truffe sur lit de caviar</p><p class="price">20€</p></div>
                                        </div>
                                        <div class="check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                        </div>
                                </div>
                </section>
                <section class="plats">
                    <div class="title">
                        <div class="entitled name">PLATS</div>
                        <div class="underline"></div>
                    </div>
                        <div class="plats_choice">
                            <div id="delay3" class="choix">
                                <div class="desc">
                                <h3 class="dish">Filet de boeuf aux herbes</h3>
                                <div class="line2"><p class="compo">Accompagné de sa ribambelle de légumes</p><p class="price">40€</p></div>
                            </div>
                            <div class="check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                            <div id="delay4" class="choix">
                                <div class="desc">
                                <h3 class="dish">Parmentier de queue de boeuf</h3>
                                <div class="line2"><p class="compo">À la truffe noire sur sa purée de panais</p><p class="price">35€</p></div>
                            </div>
                            <div class="check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                            <div id="delay5" class="choix">
                                <div class="desc">
                                <h3 class="dish">Filet de turbot</h3>
                                <div class="line2"><p class="compo">Aux agrumes</p><p class="price">44€</p></div>
                                </div>
                            <div class="check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                </section>
                <section class="desserts">
                    <div class="title">
                        <div class="entitled name">DESSERTS</div>
                        <div class="underline"></div>
                    </div>
                        <div class="desserts_choice">
                            <div id="delay6" class="choix">
                                <div class="desc">
                                <h3 class="dish">Paris-Brest</h3>
                                <div class="line2"><p class="compo">Revisité</p><p class="price">18€</p></div>
                            </div>
                            <div class="check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                            <div id="delay7" class="choix">
                                <div class="desc">
                                <h3 class="dish">Macaron au chocolat d'exception </h3>
                                <div class="line2"><p class="compo">Et glace à la vanille de Madagascar</p><p class="price">22€</p></div>
                            </div>
                            <div class="check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                            <div id="delay8" class="choix">
                                <div class="desc">
                                <h3 class="dish">Mousse au chocolat</h3>
                                <div class="line2"><p class="compo">Au piment d'Espelette et à la truffe noire</p><p class="price">23€</p></div>
                            </div>
                            <div class="check">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                </section>
            </div> 
            
            <div class="menu__command">
                <input class="btn menu__command__button" type="button" value="Commander">
            </div>
        </section>

        <footer class="footer">
            <h4 class="footer__h4">ohmyfood</h4>
            <a href="#">
                <p><i class="fas fa-utensils"></i> Proposer un restaurant</p>
            </a>
            <a href="#">
                <p><i class="fas fa-hands-helping"></i> Devenir partenaire</p>
            </a>
            <a href="#">
                <p>Mentions légales</p>
            </a>
            <a href="mailto:contact@ohmyfood.com">
                <p>Contact</p>
            </a>
        </footer>
    </main>
</body>

</html>