<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/resto.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/79e163a779.js" crossorigin="anonymous"></script>
    <title>ohmyfood</title>
</head>

<body>
    <header>
        <a href="../index.html"><i class="fas fa-arrow-left"></i></a>
        <h1 class="header_title">ohmyfood</h1>
    </header>

    <div class="menu-img">
        <img src="../img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg" alt="#">
    </div>

    <section class="menu">
        <div class="menu_header">
            <h2 class="menu_title">Le délice des sens</h2>
            <div class="hearts">
                <i class="empty far fa-heart"></i>
                <i class="full fas fa-heart"></i>
            </div>
        </div>
        <div class="menu_box">
            <article class="menu_place">
                <h3 class="box_title">ENTRÉES</h3>
                <div class="box_choix">
                    <h4 class="choix_t">Tartare de thon</h4>
                    <div class="choix_f">
                        <p class="choix_n">Assaisonné au yuzu</p>
                        <p class="choix_p">25€</p>
                    </div>
                    <div class="check">
                        <i class="fas fa-check-circle"></i>
                </div>

                <div class="box_choix">
                    <h4 class="choix_t">Bouchée de homard croustillant</h4>
                    <div class="choix_f">
                        <p class="choix_n">Et sa farandole de petits légumes</p>
                        <p class="choix_p">35€</p>
                    </div>
                    <div class="check">
                        <i class="fas fa-check-circle"></i>
                </div>

                <div class="box_choix">
                    <h4 class="choix_t">Velouté de cèpes</h4>
                    <div class="choix_f">
                        <p class="choix_n">Aux truffes</p>
                        <p class="choix_p">20€</p>
                    </div>
                    <div class="check">
                        <i class="fas fa-check-circle"></i>
                </div>
            </article>

            <article class="menu_place">
                <h3 class="box_title">PLATS</h3>
                <div class="box_choix">
                    <h4 class="choix_t">Poulet rôti aux herbes de provence</h4>
                    <div class="choix_f">
                        <p class="choix_n">Et sa crème de truffe</p>
                        <p class="choix_p">40€</p>
                    </div>
                    <div class="check">
                        <i class="fas fa-check-circle"></i>
                </div>

                <div class="box_choix">
                    <h4 class="choix_t">Langouste rôtie</h4>
                    <div class="choix_f">
                        <p class="choix_n">Et ses légumes de saison</p>
                        <p class="choix_p">35€</p>
                    </div>
                    <div class="check">
                        <i class="fas fa-check-circle"></i>
                </div>

                <div class="box_choix">
                    <h4 class="choix_t">Côte de boeuf angus</h4>
                    <div class="choix_f">
                        <p class="choix_n">Et sa purée de panais</p>
                        <p class="choix_p">44€</p>
                    </div>
                    <div class="check">
                        <i class="fas fa-check-circle"></i>
                </div>
            </article>

            <article class="menu_place">
                <h3 class="box_title">DESSERTS</h3>
                <div class="box_choix">
                    <h4 class="choix_t">Farandole de desserts</h4>
                    <div class="choix_f">
                        <p class="choix_n">Du chef</p>
                        <p class="choix_p">18€</p>
                    </div>
                    <div class="check">
                        <i class="fas fa-check-circle"></i>
                </div>

                <div class="box_choix">
                    <h4 class="choix_t">Crème brulée</h4>
                    <div class="choix_f">
                        <p class="choix_n">Revisitée</p>
                        <p class="choix_p">22€</p>
                    </div>
                    <div class="check">
                        <i class="fas fa-check-circle"></i>
                </div>

                <div class="box_choix">
                    <h4 class="choix_t">Tiramisu</h4>
                    <div class="choix_f">
                        <p class="choix_n">À la noisette</p>
                        <p class="choix_p">23€</p>
                    </div>
                    <div class="check">
                        <i class="fas fa-check-circle"></i>
                </div>
            </article>
        </div>

        <div class="command">
            <input class="button" type="button" value="Commander">
        </div>
    </section>

    <footer class="footer">
        <h4 class="footer__h4">ohmyfood</h4>
        <a href="#">
            <p><i class="fas fa-utensils"></i> Proposer un restaurant</p>
        </a>
        <a href="#">
            <p><i class="fas fa-hands-helping"></i> Devenir partenaire</p>
        </a>
        <a href="#">
            <p>Mentions légales</p>
        </a>
        <a href="mailto:contact@ohmyfood.com">
            <p>Contact</p>
        </a>
    </footer>
</body>

</html>