<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/resto.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/79e163a779.js" crossorigin="anonymous"></script>
    <title>ohmyfood</title>
</head>

<body>
    <header>
        <a href="../index.html">
            <i class="fas fa-arrow-left"></i>
            <img src="../img\logo\ohmyfood@2x.svg" alt="#">
        </a>
    </header>
    <section>
        <div class="le_delice_des_sens">
            <a href="#">
                <img src="../img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg" alt="#">
            </a>
            <h1>Le délice des sens</h1>
            <a href="#">
                <i class="fas fa-heart"></i>
            </a>
            <p>ENTRÉES</p>

            <a href="#">
                <div class="entree_1">
                    <h2>Tartare de thon</h2>
                    <h3>Assaisonné au yuzu</h3>
                    <b>25€</b>
                </div>
            </a>
            <a href="#">
                <div class="entree_2">
                    <h2>Bouchée de homard croustillant</h2>
                    <h3>Et sa farandole de petits légumes</h3>
                    <b>35€</b>
                </div>
            </a>
            <a href="#">
                <div class="entree_3">
                    <h2>Velouté de cèpes</h2>
                    <h3>Aux truffes</h3>
                    <b>20€</b>
                    <i class="far fa-check-circle"></i>
                </div>
            </a>
            <p>PLATS</p>
            <a href="#">
                <div class="plats_1">
                    <h2>Poulet rôti aux herbes de provence</h2>
                    <h3>Et sa crème de truffe</h3>
                    <b>40€</b>
                </div>
            </a>
            <a href="#">
                <div class="plats_2">
                    <h2>Langouste rôtie</h2>
                    <h3>Et ses légumes de saison</h3>
                    <b>35€</b>
                </div>
            </a>
            <a href="#">
                <div class="plats_3">
                    <h2>Côte de boeuf angus</h2>
                    <h3>Et sa purée de panais</h3>
                    <b>44€</b>
                </div>
            </a>
            <p>DESSERTS</p>
            <a href="#">
                <div class="desserts_1">
                    <h2>Farandole de desserts</h2>
                    <h3>Du chef</h3>
                    <b>18€</b>
                </div>
            </a>
            <a href="#">
                <div class="desserts_2">
                    <h2>Crème brulée</h2>
                    <h3>Revisitée</h3>
                    <b>22€</b>
                </div>
            </a>
            <a href="#">
                <div class="desserts_3">
                    <h2>Tiramisu</h2>
                    <h3>À la noisette</h3>
                    <b>23€</b>
                </div>
            </a>
            <a href="">
                <h4>Commander</h4>
            </a>
        </div>
    </section>
    <footer>
        <h3>ohmyfood</h3>
        <i class="fas fa-utensils"></i>
        <h5>Proposer un restaurant</h5>
        <i class="fas fa-hands-helping"></i>
        <h5>Devenir partinaire</h5>
        <P>Mentions légales</P>
        <p>Contact</p>
    </footer>

</body>

</html>