<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/resto.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/79e163a779.js" crossorigin="anonymous"></script>
    <title>Ohmyfood - Le délice des sens</title>
</head>

<body>
    <main>
        <header class="headerMenu">
            <a href="../index.html"><i class="fas fa-arrow-left headerMenu__arrow"></i></a>
            <h1 class="header__title">ohmyfood</h1>
        </header>

        <div class="menuImg">
            <img class="menuImg__img" src="../img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg"
                alt="Photo d'un plat du restaurant La palette du goût">
        </div>

        <section class="menu">
            <div class="menu__header">
                <h2 class="menu__header__title">La palette du goût</h2>
                <div class="hearts">
                    <i class="empty far fa-heart"></i>
                    <i class="full fas fa-heart"></i>
                </div>
            </div>

            <div class="menu__bloc">
                <article class="menu__bloc__part">
                    <h3 class="menu__bloc__part__title">ENTRÉES</h3>
                    <div class="menu__bloc__part__choice">
                        <h4 class="menu__bloc__part__choice__title">Fricassée d'escargot</h4>
                        <div class="menu__bloc__part__choice__desc">
                            <p class="menu__bloc__part__choice__desc__food">Au piment d'Espelette</p>
                            <p class="menu__bloc__part__choice__desc__price">25€</p>
                        </div>
                        <span class="menu__bloc__part__choice__check"><i
                                class="fas fa-check menu__bloc__part__choice__check__faCheck"></i></span>
                    </div>

                    <div class="menu__bloc__part__choice">
                        <h4 class="menu__bloc__part__choice__title">Foie gras de canard mi-cuit</h4>
                        <div class="menu__bloc__part__choice__desc">
                            <p class="menu__bloc__part__choice__desc__food">Et ses copeaux de truffe noire</p>
                            <p class="menu__bloc__part__choice__desc__price">35€</p>
                        </div>
                        <span class="menu__bloc__part__choice__check"><i
                                class="fas fa-check menu__bloc__part__choice__check__faCheck"></i></span>
                    </div>

                    <div class="menu__bloc__part__choice">
                        <h4 class="menu__bloc__part__choice__title">Oeuf au plat</h4>
                        <div class="menu__bloc__part__choice__desc">
                            <p class="menu__bloc__part__choice__desc__food">Assaisonné à la truffe sur lit de caviar</p>
                            <p class="menu__bloc__part__choice__desc__price">20€</p>
                        </div>
                        <span class="menu__bloc__part__choice__check"><i
                                class="fas fa-check menu__bloc__part__choice__check__faCheck"></i></span>
                    </div>
                </article>

                <article class="menu__bloc__part">
                    <h3 class="menu__bloc__part__title">PLATS</h3>
                    <div class="menu__bloc__part__choice">
                        <h4 class="menu__bloc__part__choice__title">Filet de boeuf aux herbes</h4>
                        <div class="menu__bloc__part__choice__desc">
                            <p class="menu__bloc__part__choice__desc__food">Accompagné de sa ribambelle de légumes</p>
                            <p class="menu__bloc__part__choice__desc__price">40€</p>
                        </div>
                        <span class="menu__bloc__part__choice__check"><i
                                class="fas fa-check menu__bloc__part__choice__check__faCheck"></i></span>
                    </div>

                    <div class="menu__bloc__part__choice">
                        <h4 class="menu__bloc__part__choice__title">Parmentier de queue de boeuf</h4>
                        <div class="menu__bloc__part__choice__desc">
                            <p class="menu__bloc__part__choice__desc__food">À la truffe noire sur sa purée de panais</p>
                            <p class="menu__bloc__part__choice__desc__price">35€</p>
                        </div>
                        <span class="menu__bloc__part__choice__check"><i
                                class="fas fa-check menu__bloc__part__choice__check__faCheck"></i></span>
                    </div>

                    <div class="menu__bloc__part__choice">
                        <h4 class="menu__bloc__part__choice__title">Filet de turbot</h4>
                        <div class="menu__bloc__part__choice__desc">
                            <p class="menu__bloc__part__choice__desc__food">Aux agrumes</p>
                            <p class="menu__bloc__part__choice__desc__price">44€</p>
                        </div>
                        <span class="menu__bloc__part__choice__check"><i
                                class="fas fa-check menu__bloc__part__choice__check__faCheck"></i></span>
                    </div>
                </article>

                <article class="menu__bloc__part">
                    <h3 class="menu__bloc__part__title">DESSERTS</h3>
                    <div class="menu__bloc__part__choice">
                        <h4 class="menu__bloc__part__choice__title">Paris-Brest</h4>
                        <div class="menu__bloc__part__choice__desc">
                            <p class="menu__bloc__part__choice__desc__food">Revisité</p>
                            <p class="menu__bloc__part__choice__desc__price">18€</p>
                        </div>
                        <span class="menu__bloc__part__choice__check"><i
                                class="fas fa-check menu__bloc__part__choice__check__faCheck"></i></span>
                    </div>

                    <div class="menu__bloc__part__choice">
                        <h4 class="menu__bloc__part__choice__title">Macaron au chocolat d'exception</h4>
                        <div class="menu__bloc__part__choice__desc">
                            <p class="menu__bloc__part__choice__desc__food">Et glace à la vanille de Madagascar</p>
                            <p class="menu__bloc__part__choice__desc__price">22€</p>
                        </div>
                        <span class="menu__bloc__part__choice__check"><i
                                class="fas fa-check menu__bloc__part__choice__check__faCheck"></i></span>
                    </div>

                    <div class="menu__bloc__part__choice">
                        <h4 class="menu__bloc__part__choice__title">Mousse au chocolat </h4>
                        <div class="menu__bloc__part__choice__desc">
                            <p class="menu__bloc__part__choice__desc__food">Au piment d'Espelette et à la truffe noire
                            </p>
                            <p class="menu__bloc__part__choice__desc__price">23€</p>
                        </div>
                        <span class="menu__bloc__part__choice__check"><i
                                class="fas fa-check menu__bloc__part__choice__check__faCheck"></i></span>
                    </div>
                </article>
            </div>


            <div class="menu__command">
                <input class="btn menu__command__button" type="button" value="Commander">
            </div>
        </section>

        <footer class="footer">
            <h4 class="footer__h4">ohmyfood</h4>
            <a href="#">
                <p><i class="fas fa-utensils"></i> Proposer un restaurant</p>
            </a>
            <a href="#">
                <p><i class="fas fa-hands-helping"></i> Devenir partenaire</p>
            </a>
            <a href="#">
                <p>Mentions légales</p>
            </a>
            <a href="mailto:contact@ohmyfood.com">
                <p>Contact</p>
            </a>
        </footer>
    </main>
</body>

</html>